.shopTitle {
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 200px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 400px;
}

.product .description {
  text-align: center;
}

.addToCartBtn {
  background-color: transparent;
  min-width: 100px;
  border-radius: 15px;
}
